Django==1.10
django-autoslug==1.9.3
django-contrib-comments==1.7.2
django-markdown-deux==1.0.5
django-mptt==0.8.6
django-pagedown==0.1.1
django-polymorphic==0.8.1
django-threadedcomments==1.0.1
easy-thumbnails==2.3
markdown2==2.3.0
Pillow==3.3.1
pytz==2016.6.1
Unidecode==0.4.18
wheel==0.29.0
