Django==1.9
django-autoslug==1.9.3
django-filer==1.0.2
django-markdown-deux==1.0.5
django-mptt==0.7.4
django-pagedown==0.1.0
django-polymorphic==0.7.2
easy-thumbnails==2.2.1
markdown2==2.3.0
Pillow==3.0.0
pytz==2015.7
Unidecode==0.4.18
wheel==0.26.0
