{% extends "base.html" %}
{% load markdown_deux_tags %}

{% block heading %}
  <h1>Wiki</h1>
{% endblock %}

{% block content %}
  {% for item in items %}


    <div class="labbook-entry">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            {{ item.title }}
          </h3>
          <a name="{{ item.title|slugify }}"></a>
        </div>
        <div class="panel-body">
          {{ item.content|markdown }}
          <p>
            {% if item.source %}
              <a href="{{ item.source }}">source</a>
            {% endif %}
          </p>
          <div class="row">
            <div class="col-md-6">
              {% if item.related %}
                <p>
                  Related:
                  {% for ritem in item.related.all %}
                    <a href="#{{ ritem.title|slugify }}">{{ ritem.title }}</a>
                    {% if not forloop.last %}
                      ,
                    {% endif %}
                  {% endfor %}
                </p>
              {% endif %}
            </div>
            <div class="col-md-6 text-right">
              <p class="labbook-change text-muted">
                <a href="{% url 'admin:index' %}wiki/item/{{ item.id }}/change" class="text-muted">edit</a>
                <a href="{% url 'admin:index' %}wiki/item/{{ item.id }}/delete" class="text-muted">delete</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  <p class="labbook-change text-muted">
    <a href="{% url 'admin:index' %}wiki/item/add" class="text-muted">add</a>
  </p>
{% endblock %}
