{% extends "base.html" %}
{% load markdown_deux_tags %}

{% block heading %}

{% endblock %}

{% block content %}
  {% if entries %}
    {% for entry in entries %}
      <div class="labbook-entry">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              {% if entry.title %}
                {{ entry.title }} -
              {% endif %}
              {{ entry.created|date:"j. N Y" }}
            </h3>
          </div>
          <div class="panel-body">
            {{ entry.content|markdown }}
            <div class="row">
              <div class="col-md-6">
                {% for tag in entry.tags.all %}
                  <span class="badge">{{ tag }}</span>
                {% endfor %}
              </div>
              <div class="col-md-6 text-right">
                <p class="labbook-change text-muted">
                  <a href="{% url 'admin:index' %}blog/entry/{{ entry.id }}/change" class="text-muted">edit</a>
                  <a href="{% url 'admin:index' %}blog/entry/{{ entry.id }}/delete" class="text-muted">delete</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p>No entries found.</p>
  {% endif %}
  <p class="labbook-change text-muted">
    <a href="{% url 'admin:index' %}blog/entry/add" class="text-muted">add</a>
  </p>
{% endblock %}