{% extends "base.html" %}
{% load markdown_deux_tags %}

{% block heading %}
  <h1>{{ flatpage.title }}</h1>
{% endblock %}

{% block content %}
  <p>
    {{ flatpage.content|markdown }}
  </p>

  <p class="labbook-change text-muted">
    <a href="{% url 'admin:index' %}flatpages/flatpage/{{ flatpage.id }}/change" class="text-muted">edit</a>
    <a href="{% url 'admin:index' %}flatpages/flatpage/{{ flatpage.id }}/delete" class="text-muted">delete</a>
  </p>

  <p class="labbook-change text-muted">
    <a href="{% url 'admin:index' %}flatpages/flatpage/add" class="text-muted">add</a>
  </p>
{% endblock %}
